    <div class="container">

      <div class="row">

        <form  *ngIf="isLoggedIn">
          <div class="input-group input-group-sm">
            <input id="cityName" type="text" class="form-control" [(ngModel)]="cityName" name="cityName"  aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">
                <i class="bi bi-plus-square" (click)="addCity()"></i>
              </span>
            </div>
          </div>
        </form>

        <ng-autocomplete
          [data]="data"
          [searchKeyword]="keyword"
          placeholder="Select country"
          (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)'
          (inputFocused)="onFocused($event)"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>
          <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name" style="color: rgb(0, 0, 0);"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>


     <div class="row ">


        <div class="wms-card-size card col-3 white " style="width: 18rem;"  *ngFor="let city of cities?.content" style="margin: 16px;">

          <div class="card-body">

            <a href="#" class="col-4 card-link card-title">
              <i class="bi bi-trash3-fill nav-link" (click)="delete($event)" id={{city.id}}  *ngIf="isLoggedIn">
              </i>
            </a>

            <h6 class="card-subtitle mb-2 text-muted">{{city.name}}</h6>

            <p class="card-text">
              {{city.name}}
            </p>

            <a href="#" class="col-4 card-link" routerLink="cities/{{city.id}}" *ngIf="isLoggedIn">
              <i class="bi bi-pencil-square"  id={{city.id}}></i>
            </a>

          </div>

        </div>
     </div>


    </div>

</div>
