<div>

        <div class="row card"  *ngIf="cities">

            <div class="row" *ngIf="isLoggedIn" style="padding: 16px;">
              <div  class="form-row">
                <input  style="margin: 8px" id="cityName" type="text" class="form-control" [(ngModel)]="cityName" name="cityName" placeholder="City name">
                <input  style="margin: 8px" id="countryName" type="text" class="form-control" [(ngModel)]="countryName" name="countryName" placeholder="Country name">
                <span class="input-group-btn">
                  <button class="btn btn-default" (click)="addCity()" type="button">Add</button>
                </span>
              </div>
            </div>

             <div class="col-12"  *ngIf="cities.content" style="margin: 16px;">

              <div *ngIf="cities.content">
                    <ng-autocomplete
                    [data]="cities.content"
                    [searchKeyword]="keyword"
                    placeholder="Select country"
                    (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)'
                    (inputFocused)="onFocused($event)"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                      </ng-autocomplete>
                    <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name" style="color: rgb(0, 0, 0);"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
              </div>

              <table class="table">

                <tr *ngFor = "let city of cities.content; let indexOfelement=index;">
                  <td>
                    {{city.countryName}}
                  </td>
                  <td>
                    {{city.name}}
                  </td>
                 <td>
                    <a href="#" class="col-4 card-link" routerLink="cities/{{city.id}}" *ngIf="isLoggedIn">
                      <i class="bi bi-pencil-square"  id={{city.id}}></i>
                    </a>
                 </td>
                  <td>
                    <a href="#" class="col-4 card-link card-title">
                      <i class="bi bi-trash3-fill" (click)="delete($event)" id={{city.id}}  *ngIf="isLoggedIn"></i>
                    </a>
                  </td>
                </tr>

              </table>

              <div>

                <div *ngIf="cities.empty">
                  <h3>There is no data</h3>
                </div>

                <nav aria-label="More" class="row"  style="padding-left: 100px;">
                  <ul class="pagination">
                    <li class="page-item" >
                      <button class="page-link"  (click) = "prev()" *ngIf="cities.first">Prev</button>
                    </li>
                    <li class="page-item" >
                      <button class="page-link"  (click) = "next()"  *ngIf="cities.last">next</button>
                    </li>

                  </ul>
                </nav>

              </div>

          </div>


        </div>

</div>
